body{
    background: #000000;
    font-family: 'Lora', serif ;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

@media (max-width: 600px) {
    nav {
      padding: 5px;
    }
  }

header{
    position: relative;
    height: 600px;
    background-image: url('img/museo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 600px) {
    header {
      height: 500px;
    }
  }

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

a{
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    font-family: 'Megrim', cursive;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

@media (max-width: 600px) {
    a {
      font-size: medium;
    }
  }

a.button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

#txt_bg{
    text-align: center;
    color: white;
    z-index: 1;
    font-family: 'Megrim', cursive;
    letter-spacing: 2px;
    font-size: 30px;
}

@media (max-width: 600px) {
    #txt_bg {
      font-size: medium;
    }
  }

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(0, 0, 0);
    text-align: center;
}

.corpo{
    position: relative;
    display: flex;
    margin-left: 17%;
    margin-right: 17%;
    flex-direction: column;
    width: 66.67%;
}

footer{ 
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #000000;
    color: white;
    height: 50px;
}

.ft{
    font-size: large;
    font-family: Helvetica;
    font-weight: normal;
    font-style: oblique;
}

.avatar{
    position: relative;
    top: -50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.txt_av{
    position: relative;
    bottom: 45px;
    text-align: center;
    color: #ffffff;
    font-style: oblique;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.num{
    margin-left: 23%;
    position: absolute;
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    left: -40px;
}

.txt_title{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    color: rgb(243, 0, 0);
    font-style: oblique;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
}

.txt_vote{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    color: rgb(0, 187, 255);
    font-style: oblique;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.txt_agg{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    color: rgb(0, 255, 153);
    font-style: oblique;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.viteaerea{
    background-image: url(img/eli.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 120px;
}

.carroarm{
    background-image: url(img/carroarm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 120px;
}

.para{
    background-image: url(img/para.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 120px;
}

.cannone{
    background-image: url(img/cannone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 120px;
}

.barcap{
    background-image: url(img/barcapale.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 120px;
}

.testo{
    text-align: left;
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 600px) {
    .testo {
      font-size: 15px;
    }
  }

hr{
    position: relative;
    top: -40px;
    width: 250px;
    opacity: 25%;
}

@media(max-width: 500px){
    .testo{
     display: flex;
     justify-content: space-around;
     width: 80%;
     font-size: large;
     margin-left: auto;
     margin-right: auto;
    }
   }